<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="Test">

		<parameter name="text" value="The Monk Who Sold His Ferrari" />
		<parameter name="cost" value="151" />
		<parameter name="phone" value="2343434" />

		<classes>
			<class name=DriverTest />
			<class name=SignInTest />
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
